* {
    -webkit-box-sizing: border-box;
    /* Android ≤ 2.3, iOS ≤ 4 */

    -moz-box-sizing: border-box;
    /* Firefox ≤ 28 */

    box-sizing: border-box;
    /* Chrome, Firefox 29+, IE 8+, Opera, Safari 5.1 */
}
body {
    padding-top: 10px;
    padding-left: 75px;
    padding-right: 75px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/******************* Header styles *****************************/

.header-container .navbar-brand {
    display: flex;
    align-items: center;
}

/******************* Content Styles start **********************/

.content {
    display: flex;
    flex-wrap: wrap;
}
.content-image {
    padding: 20px;
}
.content-title {
    padding: 0;
}
.main-list {
    padding: 10px 0 20px 35px;
    font-size: 1.3em;
}
.small-image1,
.small-image2 {
    padding: 5px;
    display: inline;
}
.featured-image {
    margin: 0 ;
    padding: 20px 0 40px 30px;
}
/************* Choose Program styles ************/

.courseHeading, .tableHeading  {
    text-align: center;
    margin: 50px 0 40px 0;
}
h4,
h5,
.info {
    text-align: center;
    /*margin-top: 40px;*/
}
.info {
    margin-top: 10px;
}
.col-md-3:not(:first-child) {
    margin-left: 12%;
}
.col-md-3 {
    border: 1px solid black
}
/************* Table styles ****************/

table,
th,
td {
    border: 1px solid black;
}
table {
    margin: 0 0 20px 0;
}

th,
td {
    padding: 10px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
th {
    background-color: #A9A9A9;
}
.studystatement {
    margin-bottom: 50px;
}
/*************Footer styles******************/

footer {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    color: #A9A9A9;
}
/**************Media Query for medium size devices **************/

@media(max-width: 991px) {
    table, .tableHeading, .featured-image, .studystatement {
        display: none;
    }

    .content-image,
    .content-title {
        display: inline;
    }
    .courses {
        margin-bottom: 50px;
    }
    .col-md-3:not(:first-child) {
        margin-left: 0;
    }
    .main-list {
        flex-wrap: nowrap;
    }
}
@media (min-width: 441px) and (max-width: 638px) {
    .container,
    .header-container {
        padding: 0 30px 0 30px;
    }
    .navbar-brand img {
        width: 100px;
        height: 50px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
    h4,
    h5 {
        font-size: 10px;
    }
    li {
        font-size: 13px;
    }
    .courseHeading {
        margin: 20px 0 20px 0;
    }
    .btn {
        font-size: 12px;
    }
}
/************************ For smaller devices (ex. iphone 5)***************/

@media(max-width: 440px) {
    .navbar-brand img {
        width: 80px;
        height: 40px;
    }
    .courses {
        margin: 0 20px 0 20px;
    }
    .col-md-3:not(:first-child) {
        margin-left: 20px;
    }
    .courseHeading {
        margin: 20px 0 20px 0;
    }
    .content-image {
        padding: 10px 5px 5px;
    }
    .content-title {
        padding-left: 0;
    }
    .main-list {
        padding-bottom: 5px;
    }
    .small-image1,
    .small-image2 {
        padding-top: 2px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 15px;
    }
    h4,
    h5 {
        font-size: 10px;
    }
    li {
        font-size: 13px;
    }
    .btn {
        font-size: 10px;
    }
    body {
        padding: 0 ;
    }
}
@media(min-width: 749px) {
    body {
        padding: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

/********** Custom media query for landscape orientation of devices like ipad ******/

@media(min-width: 749px) and (orientation: landscape) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .main-list {
        padding-right: 0;
        padding-bottom: 10px;
        font-size: 1.1em;
    }
    .content-image {
        padding-bottom: 10px;
    }
}